<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">seven.io SMS Gateway</label>
    <label>seven.io SMS Gateway</label>
    <version>1.4.0</version>
    <copyright>© by seven communications GmbH &amp; Co. KG</copyright>
    <license>MIT</license>
    <link>https://www.seven.io</link>
    <author>seven communications GmbH &amp; Co. KG</author>

    <compatibility minVersion="5.3.0"/>

    <changelog version="1.4.0">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Ereignis hinzugefügt: Bestelleingang</li>
                </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
                <ul>
                    <li>Added event: Save order</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.3.0">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Variablen-Platzhalter für Vorlagen hinzugefügt</li>
                    <li>Fehler behoben beim Verwenden von Signatur</li>
                </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
                <ul>
                    <li>Added variable placeholders for order templates</li>
                    <li>Fixed error when using signature</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.2.3">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Ereignisbasiertes Logging für erstellte Dokumente hinzugefügt</li>
                </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
                <ul>
                    <li>Added event based dispatch logging for created documents</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.2.2">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Ereignis "DOCUMENT_CREATED_INVOICE" hinzugefügt</li>
                    <li>Ereignis "DOCUMENT_CREATED_DELIVERY_NOTICE" hinzugefügt</li>
                    <li>Ereignis "DOCUMENT_CREATED_CREDIT" hinzugefügt</li>
                    <li>Ereignis "DOCUMENT_CREATED_CANCELLATION" hinzugefügt</li>
                </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
                <ul>
                    <li>Event "DOCUMENT_CREATED_INVOICE" added</li>
                    <li>Event "DOCUMENT_CREATED_DELIVERY_NOTICE" added</li>
                    <li>Event "DOCUMENT_CREATED_CREDIT" added</li>
                    <li>Event "DOCUMENT_CREATED_CANCELLATION" added</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.2.1">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Einbeziehen vom Ordner "vendor" für manuelle Installation</li>
                </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
                <ul>
                    <li>Include "vendor" folder for manual installation</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.2.0">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Veraltete SMS-Option "type" entfernt</li>
                </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
                <ul>
                    <li>Removed deprecated sms option "type"</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Massen-SMS hinzugefügt</li>
                    <li>Signatur + Signatur-Position hinzugefügt</li>
                </ul>
            ]]>
        </changes>
        <changes>
            <![CDATA[
                <ul>
                     <li>Added Bulk SMS Functionality</li>
                     <li>Added signature + signature position</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes>Initial Release</changes>
    </changelog>

    <description lang="de">
        seven ermöglicht den programmatischen Versand von SMS.
    </description>
    <description>
        seven makes it possible to programmatically send SMS.
    </description>
</plugin>
