<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">sms77io</label>
    <label lang="en">sms77io</label>
    <version>1.2.1</version>
    <copyright>© by sms77 e.K.</copyright>
    <license>MIT</license>
    <link>https://www.sms77.io</link>
    <author>sms77 e.K.</author>

    <compatibility minVersion="5.3.0"/>

    <changelog version="1.2.1">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Einbeziehen vom Ordner "vendor" für manuelle Installation</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Include "vendor" folder for manual installation</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.2.0">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Veraltete SMS-Option "type" entfernt</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                    <li>Removed deprecated sms option "type"</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de">
            <![CDATA[
                <ul>
                    <li>Massen-SMS hinzugefügt</li>
                    <li>Signatur + Signatur-Position hinzugefügt</li>
                </ul>
            ]]>
        </changes>
        <changes lang="en">
            <![CDATA[
                <ul>
                     <li>Added Bulk SMS Functionality</li>
                     <li>Added signature + signature position</li>
                </ul>
            ]]>
        </changes>
    </changelog>

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>

    <description lang="de">
        sms77io ermöglicht den programmatischen Versand von SMS.
    </description>
    <description>
        sms77io makes it possible to programmatically send SMS.
    </description>
</plugin>